/* TODO: Reuse the colors from diffviewer.less, once they're moved out. */
.pdfreview-review-ui-diff-thumbnail .orig-pdf {
  border: 1px #FF7777 solid;
  display: inline-block;
}
.pdfreview-review-ui-diff-thumbnail .modified-pdf {
  border: 1px #63C363 solid;
  display: inline-block;
  margin-left: 5px;
}
.pdfreview-review-ui {
  background: white;
  position: relative;
  -moz-border-radius: 0 0 6px 6px;
  -webkit-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
}
.pdfreview-review-ui .review-ui-header table {
  width: 100%;
}
.pdfreview-review-ui .review-ui-error {
  text-align: center;
  padding: 2em;
}
.review-ui-inline .pdfreview-review-ui {
  padding: 0;
}
.pdfreview-review-ui img {
  display: block;
  margin: 0 auto;
  padding: 0;
}
.pdfreview-review-ui .caption {
  margin-bottom: 1em;
  text-align: center;
}
.pdfreview-review-ui .selection {
  border: 1px #a1c0e3 solid;
  position: absolute;
}
.pdfreview-review-ui .selection.draft {
  border: 1px #aceb6f solid;
}
.pdfreview-review-ui .selection.draft .selection-flag {
  background: #aceb6f;
}
.pdfreview-review-ui .selection.draft.can-update-bound .selection-flag {
  cursor: move;
}
.pdfreview-review-ui .selection.draft.can-update-bound .resize-icon {
  background-color: #aceb6f;
  bottom: 0;
  right: 0;
  position: absolute;
  height: 0.5em;
  width: 0.5em;
  cursor: se-resize;
}
.pdfreview-review-ui .selection-flag {
  background-color: #a1c0e3;
  cursor: pointer;
  height: 2em;
  left: 0px;
  line-height: 170%;
  text-align: center;
  top: 0px;
  width: 2em;
}
.pdfreview-review-ui .selection-container {
  cursor: crosshair;
  position: absolute;
  margin: 0;
  z-index: 30;
}
.pdfreview-review-ui .selection-rect {
  border: 1px #ff0000 dashed;
  position: absolute;
}
.pdfreview-review-ui .pdfcanvas {
  vertical-align: top;
  border:1px solid black;
}
.pdfreview-review-ui .pdfdiv{
  text-align:center; 
}
.pdfreview-review-ui .review-ui-header .pdf-revision-selector-div .pdf-revision-selector-label{
 color: #000;
 margin: 2em 2em auto 2em;
}
.pdfreview-review-ui .review-ui-header .pdf-revision-selector-div .pdf-revision-selector{
 margin: 2em auto auto auto;
}
